@model IEnumerable<TarOh.Models.Spread>

@{
    ViewData["Title"] = "MySavedSpreads";
}
 
    <div class="spreadsTitle"><h1>Your Spreads</h1></div>
<div class="mySpreads">
    @foreach (var item in Model)
    {
    <div class="display">
        <div class="card-container">
            <div class="card">
                <div class="side cardz"><img class="" src="~/img/card_back_black.png" alt="Jimmy Eat World"></div>
                <div class="side back"><a asp-action="ViewSavedSpread" asp-route-id="@item.SpreadId">@item.Name</a> <span>@item.ReadingDate</span></div>
            </div>

        </div>
        <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.SpreadId">Delete</a>
    </div>
    }
</div>

    @*<p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReadingDate)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReadingDate)
                    </td>

                    <td>
                        <a asp-action="ViewSavedSpread" asp-route-id="@item.SpreadId">View Spread</a> |
                        <a asp-action="Delete" asp-route-id="@item.SpreadId">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>*@
