@model IEnumerable<TarOh.Models.Spread>

@{
    ViewData["Title"] = "ViewSavedSpread";
}




@foreach (var item in Model)
{


    <h1>@item.Name</h1>


    @foreach (var savedSpread in item.SavedSpreads)
    {
        if (savedSpread.CardDirection == true)
        {
            <p>
                Direction: Up ||
                Card: @savedSpread.Card.CardType.Name ||
                Ordinal Position: @savedSpread.OrdinalPosition.Name
            </p>
        }
        else
        {
            <p>
                Direction: Down ||
                Card: @savedSpread.Card.CardType.Name ||
                Ordinal Position: @savedSpread.OrdinalPosition.Name
            </p>
        }
        <a asp-area="" asp-controller="CardComments" asp-action="GetUserCardComments" asp-route-id="@savedSpread.Card.CardId">My Card Comments</a> <div>||</div>
        <a asp-area="" asp-controller="OrdinalComments" asp-action="GetUserOrdinalComments" asp-route-id="@savedSpread.OrdinalPositionId">My Ordinal Comments</a>

    }

}


