@model IEnumerable<TarOh.Models.ViewModels.Reading>
@{
    ViewData["Title"] = "Reading";
}
<h1>Reading</h1>
<a target="_blank" asp-area="" asp-controller="SpreadComments" asp-action="GetUserSpreadComments" asp-route-id="@Model.FirstOrDefault().SpreadId">Spread Comments</a>

@foreach (var item in Model)
{



    foreach (var card in item.Cards)
    {


        if (card.CardDirection == true)
        {
            <p>
                Card: @Html.DisplayFor(modelItem => card.CardType.Name) ||
                Definition: @Html.DisplayFor(modelItem => card.UpDefinition) ||

                <a target="_blank" asp-area="" asp-controller="CardComments" asp-action="GetUserCardComments" asp-route-id="@card.CardId">My Comments</a>



            </p>

        }
        else
        {

            <p>
                Card: @Html.DisplayFor(modelItem => card.CardType.Name) ||
                Definition: @Html.DisplayFor(modelItem => card.DownDefinition) ||

                <a target="_blank" asp-area="" asp-controller="CardComments" asp-action="GetUserCardComments" asp-route-id="@card.CardId">My Comments</a>

            </p>



        }

    }





    foreach (var ordinalPosition in item.OrdinalPositions)
    {
        <div>.....ORDINAL POSITION.....</div>
        <p>
            Position: @Html.DisplayFor(modelItem => ordinalPosition.Name) ||
            Definition: @Html.DisplayFor(modelItem => ordinalPosition.Definition)
            <a target="_blank" asp-area="" asp-controller="OrdinalComments" asp-action="GetUserOrdinalComments" asp-route-id="@ordinalPosition.OrdinalPositionId">My Comments</a>

        </p>

    }
}

