@model IEnumerable<TarOh.Models.ViewModels.Reading>
@{
    ViewData["Title"] = "Reading";
}
<h1>Reading</h1>
<a target="_blank" asp-area="" asp-controller="SpreadComments" asp-action="GetUserSpreadComments" asp-route-id="@Model.FirstOrDefault().SpreadId">Spread Comments</a>
<div class="reading-container">

    <div class="left-reading-container">
        <div class="top-left-container"> @foreach(var item in Model){
            @for (int i = 4; i < 5; i++)
            {
                if (item.Cards[i].CardDirection == true)
                {
                    <img class=" card-face" src="/img/@item.Cards[i].ImagePath" />
                }
                else
                {
                    <img class=" card-face invert" src="/img/@item.Cards[i].ImagePath" />
                }

            }}
        </div>

    <div class="middle-left-container">
        <div class="middle-middle-left">
            @foreach (var item in Model)
            {
                @for (int i = 6; i < 7; i++)
                {
                    if (item.Cards[i].CardDirection == true)
                    {
                        <img class=" card-face" src="/img/@item.Cards[i].ImagePath" />
                    }
                    else
                    {
                        <img class=" card-face invert" src="/img/@item.Cards[i].ImagePath" />
                    }
                }
            }
        </div>
            <div class="middle-middle-middle">
                    @foreach (var item in Model)
                    {
                        @for (int i = 0; i < 3; i++)
                        {
                            if (i == 1 && item.Cards[i].CardDirection == false)
                            {
                            <img id="card-@i" class=" card-face invert"  src="/img/@item.Cards[i].ImagePath" />
                            }
                            else
                            {
                                 <img id="card-@i" class=" card-face"  src="/img/@item.Cards[i].ImagePath" />
                            }
                        }
                    }
                </div>
            <div class="middle-middle-right">
                @foreach (var item in Model)
                {
                    @for (int i = 5; i < 6; i++)
                    {
                        if (item.Cards[i].CardDirection == true)
                        {
                            <img class=" card-face" src="/img/@item.Cards[i].ImagePath" />
                        }
                        else
                        {
                            <img class=" card-face invert" src="/img/@item.Cards[i].ImagePath" />
                        }
                    }
                }
            </div>
        </div>
    <div class="bottom-left-container">
            @foreach (var item in Model)
                {
                    @for (int i = 3; i < 4; i++)
                    {
                           if (item.Cards[i].CardDirection == true)
                                {
                                    <img class=" card-face" src="/img/@item.Cards[i].ImagePath" />
                                }
                                else
                                {
                                    <img class=" card-face invert" src="/img/@item.Cards[i].ImagePath" />
                                }
                    }
                }
    </div>
    </div>
    <div class="right-reading-container">
        @foreach (var item in Model)
        {
            @for (int i = 7; i < 11; i++)
            {
                if (item.Cards[i].CardDirection == true)
                {
                    <img class=" card-face card-column-right" src="/img/@item.Cards[i].ImagePath" />
                }
                else
                {
                    <img class=" card-face invert card-column-right" src="/img/@item.Cards[i].ImagePath" />
                }
            }} 
    </div>



    @*@foreach (var item in Model)
    {


            @for (int i = 0; i < item.Cards.Count; i++)
            {


                    if (item.Cards[i].CardDirection == true)
                    {
                        <span class="card">
                            <span class="card-@i">
                                 <img class=" card-face" src="/img/@item.Cards[i].ImagePath" />
                                Card: @Html.DisplayFor(modelItem => item.Cards[i].CardType.Name) ||
                                Definition: @Html.DisplayFor(modelItem => item.Cards[i].UpDefinition) ||

                                <a target="_blank" asp-area="" asp-controller="CardComments" asp-action="GetUserCardComments" asp-route-id="@item.Cards[i].CardId">My Comments</a>
                                @i
                            </span>




                        </span>

                    }
                    else
                    {

                        <span class="card">
                            <span class="card-@i">
                                <img class=" card-face" src="/img/@item.Cards[i].ImagePath" />
                                Card: @Html.DisplayFor(modelItem => item.Cards[i].CardType.Name) ||
                                Definition: @Html.DisplayFor(modelItem => item.Cards[i].DownDefinition) ||

                                <a target="_blank" asp-area="" asp-controller="CardComments" asp-action="GetUserCardComments" asp-route-id="@item.Cards[i].CardId">My Comments</a>
                                @i
                            </span>

                    

                        </span>



                    }

                }
            




            foreach (var ordinalPosition in item.OrdinalPositions)
            {
            <div>.....ORDINAL POSITION.....</div>
            <p>
                Position: @Html.DisplayFor(modelItem => ordinalPosition.Name) ||
                Definition: @Html.DisplayFor(modelItem => ordinalPosition.Definition)
                <a target="_blank" asp-area="" asp-controller="OrdinalComments" asp-action="GetUserOrdinalComments" asp-route-id="@ordinalPosition.OrdinalPositionId">My Comments</a>

            </p>

        }
    }*@

</div>
