@model IEnumerable<TarOh.Models.SpreadComment>

@{
    ViewData["Title"] = "GetUserSpreadComments";
}
<div class="comments">
<h1>My Spread Comments</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewContext.RouteData.Values["Id"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Spread)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Spread.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SpreadCommentId">Edit</a> |
                <a asp-controller="Spreads" asp-action="ViewSavedSpread" asp-route-id="@item.SpreadId">View Spread</a> |
                <form asp-action="Delete" asp-controller="SpreadComments" asp-route-id="@item.SpreadCommentId" typeof="submit"><button type="submit" @*class="btn btn-danger"*@>Delete</button></form>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
